.hero {
    position: relative;
    padding-top: 40px;
    padding-bottom: 20px;
    overflow: hidden;
    @media screen and(max-width:767.27px) {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and(min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 768px;
        min-height: 372px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and(min-width: 1280px) {
        width: 1280px;
        height: 661px;
        margin-left: auto;
        margin-right: auto;
    }
}

.hero_box {
    @media screen and(max-width: 767.27px) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        
        //background: linear-gradient(87.8deg, #0e0e0e 5.61%, rgba(14, 14, 14, 0) 40.39%),
        background:#0e0e0e ,
        url(./../images/header/bck-hero-mob-1x.png), #0e0e0e;
        background-repeat: no-repeat;
        background-position: 120px;
        width: 100%;
        height: 380px;

        background-size: cover;
        @include retina {
            //background: linear-gradient(87.8deg, #0e0e0e 5.61%, rgba(14, 14, 14, 0) 40.39%),
            background:  #0e0e0e,
                url(./../images/header/bck-hero-mob-2x.png), #0e0e0e;
            background-repeat: no-repeat;
            background-position: 120px;
            width: 100%;
            height: 380px;
            background-size: cover;
        }
    }
}
.hero_box1 {
    display: none;
    @media screen and(min-width: 768px) {
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 768px;
        height: 432px;
        left: 0;
        //background: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%),
        background:  #0e0e0e,
            url(./../images/header/Subtract.png);
    }
    @media screen and(min-width: 1280px) {
        //background: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%),
        background:  #0e0e0e,
            url(./../images/header/SubtractPc.png);
        width: 1280px;
        height: 720px;
    }
}
.hero_box2 {
    @media screen and(min-width: 768px) {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        background: url(./../images/header/bck-hero-tab-1x.png);
        background-repeat: no-repeat;
        background-position: 260px;
        width: 100%;
        height: 380px;
        background-size: contain;
        @include retina {
            background: url(./../images/header/bck-hero-tab-2x.png);
            background-repeat: no-repeat;
            background-position: 260px;
            width: 100%;
            height: 372px;
            background-size: contain;
        }
    }
    @media screen and(min-width: 1280px) {
        background: url(./../images/header/bck-hero-pcc-1x.png);
        background-repeat: no-repeat;
        background-position: 360px;
        width: 100%;
        height: 660px;
        background-size: contain;
        @include retina {
            background: url(./../images/header/bck-hero-pcc-2x.png);
            background-repeat: no-repeat;
            background-position: 360px;
            width: 100%;
            height: 660px;
            background-size: contain;
        }
    }
}

.hero_box1-light {
    display: none;
    @media screen and(min-width: 768px) {
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 768px;
        height: 432px;
        left: 0;
        background-color: #ffffff;
        background: url(./../images/header/SubtractTabLight.png);
    }
    @media screen and(min-width: 1280px) {
        background: url(./../images/header/SubtractPcLight.png);
        width: 1280px;
        height: 720px;
    }
}

.hero_title-box {
    width: 199px;
    height: 114px;
    @media screen and(min-width: 768px) {
        width: 332px;
        height: 114px;
    }
    @media screen and(min-width: 1280px) {
        width: 464px;
        height: 150px;
    }
}

.hero_first-title {
    font-size: 32px;
    line-height: calc(38 / 32);
    color: #ffffff;
    @media screen and(min-width: 768px) {
        font-size: 44px;
        line-height: calc(52 / 44);
        width: 332px;
        height: 164px;
    }
    @media screen and(min-width: 1280px) {
        font-size: 64px;
        line-height: calc(75 / 64);
        width: 464px;
        height: 150px;
    }
}

.hero_page-box {
    margin-top: 8px;
    width: 166px;
    height: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: #f8f8f8;
    @media screen and(min-width: 768px) {
        display: none;
    }
}

.hero_page-box2 {
    display: none;
    @media screen and(min-width: 768px) {
        margin-top: 16px;
        display: block;
        font-size: 14px;
        line-height: calc(16 / 14);
        color: #f8f8f8;
        width: 357px;
        height: 64px;
    }
    @media screen and(min-width:1280px) {
        font-size: 16px;
        line-height: calc(19 / 16);
        width: 464px;
        height: 76px;
    }
}
/*
.hero_btn {
    position: relative;
    margin-top: 16px;
    padding: 0;
    width: 110px;
    height: 38px;
    border: none;
    outline: none;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    border-radius: 74px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: #111111;
    transition: color 300ms;
    @media screen and(min-width:768px) {
        width: 120px;
        height: 40px;
        font-size: 14px;
        line-height: calc(20 / 14);
    }
    @media screen and(min-width:1280px) {
        width: 130px;
        height: 48px;
        font-size: 16px;
        line-height: calc(24 / 16);
    }
}  */

.hero_btn-link {
    position: relative;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
    outline: none;
    border: none;
    margin-top: 20px;
    font-size: 15px;
	color: black;
	padding: 10px 20px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 74px;
	display: inline-block;
	text-decoration: none;
    transition: background-color 300ms;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 76px;
        z-index: -1;
        content: "";
        background: -moz-linear-gradient(
            top,
            #FFC226 0%,
            #F84119);
        background: -webkit-gradient(
            linear, left top, left bottom,
            from(#FFC226),
            to(#F84119));
            width: 104%;
            height: 108%;
            @media screen and (max-width: 1277.27px) {
                font-size: 14px;
                line-height: calc(20 / 14);
                padding: 10px 24px;
            }
            @media screen and(max-width: 767.27px) {
                font-size: 12px;
                line-height: calc(14 / 12);
                padding: 12px 24px;
            }
    }


    &:hover,focus {
    color: #FFC226;
	background-color: black;
}

}

.hero_title-box-api {
    width: 199px;

    @media screen and(min-width: 768px) {
        width: 332px;
    }
    @media screen and(min-width: 1280px) {
        width: 464px;
    }
}

.hero_first-title-api {
    font-size: 32px;

    line-height: calc(38 / 32);
    color: #ffffff;

    @media screen and(min-width: 768px) {
        font-size: 44px;
        margin-bottom: 12px;
        line-height: calc(52 / 44);
        width: 332px;
    }

    @media screen and(min-width: 1280px) {
        font-size: 64px;
        line-height: calc(75 / 64);
        width: 464px;
        margin-bottom: 16px;
    }
}
.hero_page-box-api {
    p {
        overflow: scroll;
        scrollbar-width: none;
        //scrollbar-width: 0px;
        padding-right: 5px;
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
    margin-top: 8px;
    width: 166px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: #f8f8f8;
    p {
        overflow: scroll;
        padding-right: 5px;
        height: 112px;
    }
    @media screen and(min-width: 768px) {
        display: none;
    }
}
.hero_page-box2-api {
    display: none;
    @media screen and(min-width: 768px) {
        display: block;

        color: #f8f8f8;
        width: 357px;

        p {
            font-size: 14px;
            line-height: calc(16 / 14);
            overflow: scroll;
            scrollbar-width: 0px;


            height: auto;
            width: 166px;
            &::-webkit-scrollbar {
                width: 0px;
            }

            @media screen and(min-width: 768px) {
                width: 357px;
                max-height: 100px;
            }

            @media screen and(min-width:1280px) {
                width: 368px;
                max-height: 160px;
            }
        }
    }
    @media screen and(min-width:1280px) {
        font-size: 16px;
        line-height: calc(19 / 16);
        width: 464px;
        margin-bottom: 36px;
        p {
            font-size: 16px;
            line-height: calc(19 / 16);
        }
    }
}
.hero_rating {
    margin-top: 20px;
}

#trailer {
    position: relative;
    background: none;
    transition: all 300ms;
    &::before {
        position: absolute;
        z-index: -1;
        content: "";
        width: 103%;
        height: 110%;
        background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
        border-radius: 74px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        background-color: #111111;
        color: #f84119;
    }
}

.hero_box1-api {
    display: none;
    @media screen and(min-width: 768px) {
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 768px;
        height: 432px;
        left: 0;
        background: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%),
            url(./../images/header/Subtract.png);
    }
    @media screen and(min-width: 1280px) {
        background: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%),
            url(./../images/header/SubtractPc.png);
        width: 1280px;
        height: 720px;
        background-position: 60px;
    }
}
.hero_box1-light-api {
    display: none;
    @media screen and(min-width: 768px) {
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 768px;
        height: 432px;
        left: 0;
        // background-color: #FFFFFF;
        background: url(./../images/header/SubtractTabLight.png);
        background-position: 30px;
    }
    @media screen and(min-width: 1280px) {
        background: url(./../images/header/SubtractPcLight.png);
        width: 1280px;
        height: 720px;
        background-position: 60px;
    }
}
.hero_back {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%);
    @media screen and(min-width:768px) {
        background: none;
    }
}
.hero_img-head {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -5;
    @media screen and(min-width:768px) {
        left: 200px;
        top: -5px;
    }
    @media screen and(min-width: 1280px) {
        left: 340px;
    }
}

.star-rate--hero {
    margin-top: 12px;
    margin-bottom: 21px;
    margin-left: auto;
    font-size: 18px;

    @include respond-min("tablets") {
        margin-top: 14px;
        margin-bottom: 22px;
        font-size: 22px;
        line-height: 1.2;
    }

    @include respond-min("pc") {
        margin-top: 18px;
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 1.2;
    }
}
