// Start CATALOG
// ПРи переході на світлу тему змінюється
// background на body білого кольору
// .search_form--button ---> color: black
// .tui-page-btn.tui-is-selected ---> color: black
// .tui-page-btn ---> border: 1px solid #595959;
// Finish CATALOG


//Нечаев - модалка

.modal__container {
  background-color: var(--white-color);
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);
}

.film-list__info .film-list__title,
.film-list__info .film-list__char .film-list__title_text,
.film-list__info .film-list__char .film-list__text_average,
.film-list__info .film-list__title_text-about,
.film-list__info .film-list__text-about,
.film__button,
.film-list__info .film-list__char .film-list__text {
  color: var(--black-color);
}

// ===============done============== //

// при переході на світлу тему
// library
.library-empty__mistake{
  color: var(--black-color);
}

//секція upcoming  у світлій темі приймає кольори в таких класах:

.upcoming__title .upcoming__info--title .upcoming__light--black .upcoming__info--about {
  color: var(--black-color);
}

.upcoming__light--grey .slash .upcoming__info—pop--range .upcoming__info—genre--kind .upcoming__info—description .upcoming__info--white {
  color: var(--secondary-bc-color);
}

.upcoming__info--white {
  background: var(--s-light-gray-color);
}

//секція WEEKLY зміна кольору тексту з color: #FFFFFF; на 
.weekly-trends{
  color: #111111;
}

.search__form--input{
  border-color: var(--grey-color);
}
