.backdrop {
  position: fixed;
  background-color: rgba(24, 23, 23, 0.767);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 1;
  overflow: auto;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1000ms linear, visibility 300ms linear;
  }
}

.modal__container {
  overflow-x: auto;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  background-color: var(--black-color);
  @include font(24, 500, 32, 0);
  font-family: var(--main-font);
  color: var(--white-color);
  max-height: 100vh;
  padding: 52px 16px 52px 16px;
  border-radius: 16px;
  min-width: 280px;
  height: 847px;

  @include respond-min('tablets') {
    display: flex;
    margin: auto;
    width: 704px;
    height: 488px;
    padding: 40px 36px 40px 36px;
  }
  @include respond-min('pc') {
    display: flex;
    min-width: 846px;
    height: 598px;
    padding: 60px;
  }
}

.film-list__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include respond-min('tablets') {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
  }
  @include respond-min('pc') {
  }
  & .film-list__img {
    width: 248px;
    height: 315px;
    margin-bottom: 22px;
    @include respond-min('tablets') {
      width: 294px;
      height: 400px;
    }
    @include respond-min('pc') {
      width: 375px;
      height: 478px;
    }

    & img {
      margin-right: auto;
      margin-left: auto;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      // background-color: var(--secondary-bc-color);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url(../images/placeholder/modal/no-image_modal_mobile.jpg);
      @include respond-min('phone') {
      }
      @include respond-min('tablets') {
        width: 100%;
        height: 100%;
        background-image: url(../images/placeholder/modal/no-image_modal_tablet.jpg);
      }
      @include respond-min('pc') {
        width: 100%;
        height: 100%;
        box-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);
        background-image: url(../images/placeholder/modal/no-image_modal_desktop.jpg);
      }
    }
  }
}

.film-list__info {
  @include respond-min('tablets') {
    width: 294px;
    height: 400px;
  }
  @include respond-min('pc') {
    width: 375px;
    height: 478px;
  }
  & .film-list__title {
    @include font(20, 500, 23, 0);
    margin-bottom: 29px;
    color: var(--white-color);
    @include respond-min('phone') {
    }
    @include respond-min('tablets') {
      @include font(24, 500, 28, 0);
      margin-bottom: 26px;
    }
    @include respond-min('pc') {
      @include font(24, 500, 32, 0);
      margin-bottom: 28px;
    }
  }

  & .film-list__char {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
    gap: 30px;
    & .film-list__title_text {
      width: 100px;
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      @include font(14, 500, 16, 0);
      color: var(--light-grey-color);
      @include respond-min('phone') {
      }
      @include respond-min('tablets') {
        width: 100px;
        justify-content: flex-start;
      }
      @include respond-min('pc') {
        @include font(16, 500, 19, 0);
      }
    }
    & .film-list__title_char {
      width: 120px;
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      @include font(14, 500, 16, 0);
      color: var(--light-grey-color);
      @include respond-min('phone') {
      }
      @include respond-min('tablets') {
        width: 150px;
        justify-content: flex-start;
      }
      @include respond-min('pc') {
        @include font(16, 500, 19, 0);
      }
    }

    & .film-list__text_average {
      width: 120px;
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      @include font(12, 500, 14, 0);
      color: var(--white-color);
      @include respond-min('phone') {
      }
      @include respond-min('tablets') {
      }
      @include respond-min('pc') {
        @include font(14, 500, 16, 0);
      }
      & .film-list__average {
        background: var(--white-color);
        border-radius: 5px;
        color: var(--black-color);
        padding: 1px 8px;
      }
    }

    & .film-list__text {
      border-radius: 5px;
      @include font(14, 500, 16, 0);
      color: var(--white-color);
      @include respond-min('phone') {
      }
      @include respond-min('tablets') {
      }
      @include respond-min('pc') {
        @include font(16, 500, 19, 0);
      }
    }
  }

  & .film-list__about {
    display: flex;
    flex-wrap: wrap;
    @include respond-min('tablets') {
      flex-wrap: wrap;
    }
    & .film-list__text-about {
      min-width: 248px;
      padding: 0;
    }
  }

  & .film-list__title_text-about {
    @include font(14, 500, 16, 0);
    margin-bottom: 12px;
    color: var(--light-grey-color);
    @include respond-min('phone') {
    }
    @include respond-min('tablets') {
    }
    @include respond-min('pc') {
      @include font(16, 500, 16, 0);
    }
  }

  & .film-list__text-about {
    @include font(12, 400, 20, 0);
    color: var(--light-grey-color);
    @include respond-min('phone') {
    }
    @include respond-min('tablets') {
    }
    @include respond-min('pc') {
      @include font(14, 400, 20, 0);
    }
  }
}

.film__button-border {
  margin-top: 16px;
  @include respond-min('tablets') {
    margin-top: 24px;
    position: absolute;
    bottom: 10px;
    right: 220px;
  }
  @include respond-min('pc') {
    bottom: 60px;
    right: 255px;
  }
}
.film__button {
  text-align: center;
  border: none;
  border-radius: 74px;
  width: 140px;
  height: 38px;
  @include font(12, 500, 14, 0);
  cursor: pointer;
  color: var(--white-color);
  background: transparent;
  border: 1px solid var(--accent-color);
  @include respond-min('tablets') {
    @include font(12, 500, 16, 0);
  }
  &:hover,
  &:focus {
    background-color: var(--white-color);
    color: var(--accent-color);
    border: 1px solid var(--white-color);
  }
}

.modal__close-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 16px;
  display: inline-flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  //
  border: none;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
  fill: var(--s-light-gray-color);
  @include respond-min('tablets') {
    top: 24px;
    right: 24px;
  }
  @include respond-min('pc') {
    top: 40px;
    right: 40px;
  }
  &:hover,
  &:focus {
    fill: #ff6b08;
    border-color: #ff6b08;
  }
}

// .backdrop {
//   position: fixed;
//   background-color: rgba(24, 23, 23, 0.767);
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   opacity: 1;
//   z-index: 1;
//   overflow: auto;

//   &.is-hidden {
//     opacity: 0;
//     pointer-events: none;
//     transition: opacity 1000ms linear, visibility 300ms linear;
//   }
// }
// .modal__container {
//   overflow-x: auto;
//   z-index: 99;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(1);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   background-color: #ffffff;

//   font-family: Roboto, sans-serif;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: calc(16 / 12);
//   color: #000000;
//   max-height: 100vh;
//   padding: 48px 20px 40px 20px;

//   .backdrop.is-hidden & {
//     transform: translate(-50%, -50%) scale(0.8);
//   }

//   @media screen and (min-width: 768px) and (max-width: 1023px) {
//   // background-color: var(--black-color);
//   background-color: var(--grey-color);
//   @include font(24, 500, 32, 0);
//   font-family: var(--main-font);
//   color: var(--white-color);
//   max-height: 100vh;
//   padding: 52px 16px 52px 16px;
//   border-radius: 16px;
//   min-width: 280px;
//   height: 847px;

//   @include respond-min('tablets') {
//     display: flex;
//     margin: auto;
//     width: 704px;
//     padding: 40px 36px 40px 36px;
//   }

//   @media screen and (min-width: 1024px) {
//     display: flex;
//     min-width: 806px;
//     height: 558px;
//     padding: 40px 12px 40px 12px;
//   }
// }
//   @include respond-min('pc') {
//     display: flex;
//     min-width: 846px;
//     height: 598px;
//     padding: 60px;
//   }
// }

// .film-list__list {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
// }
// .film-list__img {
//   max-width: 100%;
//   height: auto;
//   & img {
//     border-radius: 5px;
//     width: 248px;
//     height: 315px;
//     @include respond-min('phone') {
//       width: 248px;
//       height: 315px;
//     }
//     @include respond-min('tablets') {
//       width: 294px;
//       height: 400px;
//     }
//     @include respond-min('pc') {
//       width: 375px;
//       height: 478px;
//       box-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);
//     }
//   }
// }

// .film-list__info {
//   & .film-list__title {
//     @include font(20, 500, 23, 0);
//     color: var(--white-color);
//     @include respond-min('phone') {
//     }
//     @include respond-min('tablets') {
//       @include font(24, 500, 28, 0);
//     }
//     @include respond-min('pc') {
//       @include font(24, 500, 32, 0);
//     }
//   }
//   & div {
//     display: flex;
//     justify-content: space-between;
//   }
// }

// .image {
//   display: block;
//   max-width: 240px;
//   // height: 356px;
//   border-radius: 5px;
//   box-shadow: 5px -3px 15px 1px #645c5cbf;

//   @media screen and (min-width: 768px) and (max-width: 1023px) {
//     max-width: 264px;
//     height: 373.55px;
//   }
//   @media screen and (min-width: 1024px) {
//     max-width: 375px;
//     height: 478px;
//   }
// }
// .film__image {
//   margin-right: auto;
//   margin-left: auto;
//   max-width: 240px;
//   height: 356px;
//   border-radius: 5px;
//   margin-bottom: 30px;
//   background-color: var(--img-background-color);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;

//   background-image: url(../images/placeholder/modal/no-image_modal_mobile.jpg);
//   @media screen and (min-width: 768px) {
//     margin-bottom: 0;
//     margin-left: 0;
//     margin-right: 30px;
//     max-width: 264px;
//     height: 373.55px;
//     background-image: url(../images/placeholder/modal/no-image_modal_tablet.jpg);
//   }
//   @media screen and (min-width: 1024px) {
//     max-width: 396px;
//     height: 477.8px;
//     background-image: url(../images/placeholder/modal/no-image_modal_desktop.jpg);
//   }
// }
// .film__information {
//   text-align: start;
// }

// .film__title {
//   font-size: 20px;
//   line-height: 1.15;
//   margin-bottom: 20px;
//   @media screen and (min-width: 1024px) {
//     font-size: 30px;
//     line-height: 1.17;
//   }
// }

// .film__item {
//   display: flex;
//   margin-bottom: 10px;
// }
// .film__details {
//   color: second-text-color;
//   min-width: 108px;
// }

// .film__info--uper {
//   text-transform: uppercase;
//   line-height: 1.17;
// }

// .film__rating--orange {
//   padding-left: 10px;
//   padding-right: 10px;
//   color: #ffffff;
//   background-color: #ff6b08;
//   border-radius: 5px;
// }
// .film__rating--divider {
//   margin-right: 3px;
// }

// .film__about__title {
//   text-transform: uppercase;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }
// .film__about__text {
//   line-height: 1.67;
//   margin-bottom: 21px;
// }
// .film__button__wrapper {
//   display: flex;
//   margin-bottom: 16px;
// }
// .film__button {
//   width: 112px;
//   height: 44px;
//   text-align: center;
//   text-transform: uppercase;
//   border-radius: 5px;
//   background-color: #ffffff;
//   cursor: pointer;
//   border: 1px solid #000000;
//   transition: all 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
//   &:hover {
//     background-color: #ff6b08;
//     color: #ffffff;
//     border: 1px solid #ff6b08;
//   }
//   @media screen and (min-width: 768px) and (max-width: 1023px) {
//     width: 125px;
//   }
//   @media screen and (min-width: 1024px) {
//     width: 136px;
//   }
// }

// .film__button.active {
//   background-color: #ff6b08;
//   color: #ffffff;
//   border: 1px solid #ff6b08;
// }

// .film__button:not(:last-child) {
//   margin-right: 15px;
// }

// .is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }

// .backdrop.is-hidden.modal {
//   position: relative;
//   top: 50%;
//   left: 50%;
//   opacity: 0;

//   transform: translate(-50%, -100%);
// }
