:root {
//Шрифти
--main-font: 'Roboto', sans-serif;
--font-weight-bold: 700;
--font-weight-medium: 500;
--font-weight-regular: 400;

//Кольори

--white-color: #ffffff;
--black-color: #111111;
--secondary-bc-color: #282828;
--accent-color: #f87719;
--grey-color: #595959;
--light-grey-color: #b7b7b7;
--s-light-gray-color: #f8f8f8;
--linear-to-top: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
--linear-to-down: linear-gradient(141.22deg, #F84119 9.4%, rgba(248, 159, 25, 0.68) 91.91%);

// Розміри екрану

--size-mobile: 320px;
--size-tablets: 768px;
--size-pc: 1200px;

}