
.weekly__trends-all{
    display:flex;
    justify-content: space-between;
    margin-bottom: 24px;
  
    
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        margin-top: 40px;
    @media screen and (min-width: 768px) {
         margin-top: 52px;   
        }
    
        @media screen and (min-width:1280px) {
           margin-top: 80px;
           margin-bottom: 28px;
        }
}

.weekly-trends{
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 19px;
        @media screen and (min-width: 768px) {
                font-size: 24px;
                line-height: 28px;
            }
        
            @media screen and (min-width:1280px) {
                font-size: 28px;
                line-height: 33px;
            }
        
}

.see-all{ 
        color: #F87719;
    font-size: 16px;
    line-height: 19px;
    @media screen and (min-width: 768px) {
            font-size: 24px;
            line-height: 28px;
        }
    
        @media screen and (min-width:1280px) {
            font-size: 28px;
            line-height: 33px;
        }
        
}

.see-all:hover{
    transform: scale(1.12) translateZ(0);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

// ul
.gallery-weekly__list{
display: grid;
    max-width: calc(320px - 40px);
    grid-template-columns: repeat(1, minmax(280px, 1fr));
    grid-row-gap: 16px;
    margin: 0 auto;
    list-style: none;
    justify-content: center;

    position: relative;



    @include respond-min('tablets') {
        max-width: calc(768px - 64px);
        grid-template-columns: repeat(3, minmax(224px, 1fr));
        grid-column-gap: 16px;
        grid-row-gap: 28px;

    }

    @include respond-min('pc') {
        max-width: calc(1280px - 64px);
        grid-template-columns: repeat(3, minmax(395px, 1fr));
        grid-column-gap: 16px;
        grid-row-gap: 32px;
    }
}

// li

.gallery-weekly__list-elem{
display: flex;
    flex-direction: column;
    position: relative;
    height: 406px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 10px;
    cursor: pointer;
    border-radius: 10px;
    z-index: 0;

    @include respond-min('tablets') {
        height: 336px;
    }

    @include respond-min('pc') {
        height: 593px;
    }
}

.gallery-weekly__list-elem::before {
    position: absolute;
    content: " ";
    background: var(--background-cards);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: inherit;
    z-index: 1;
}

.gallery-weekly__list-elem:hover {
    transform: scale(1.02) translateZ(0);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 0 20px var(--accent-color);
    
}


.gallery-weekly__image {
    height: 406px;
    box-shadow: 0 3px 4px 1px #2c85c833;
    border-radius: inherit;

    @include respond-min('tablets') {
        height: auto;
    }

    @include respond-min('pc') {
        height: auto;
    }

    box-shadow: 0px 3px 4px 1px rgba(44, 133, 200, 0.2);
}

.gallery-weekly__title {
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    overflow: hidden;
    color: var(--white-color);

    @include respond-min('tablets') {
        line-height: 1.2;
    }

    @include respond-min('pc') {
        font-size: 20px;
        line-height: 1.67;
    }
}

.gallery-weekly__text {
    font-size: 12px;
    line-height: 1.5;
    overflow: hidden;
    color: var(--light-grey-color);

    @include respond-min('tablets') {
        font-size: 10px;
        line-height: 1.2;
    }

    @include respond-min('pc') {
        font-size: 20px;
        line-height: 1.2;
    }
}

.gallery-weekly__info{
    max-width: 100%;
    margin-right: -30%;
}

.gallery-weekly__rate{
   color: var(--light-grey-color);
    margin-top: auto;
    margin-left: auto;

    font-size: 12px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include respond-min('pc') {
        font-size: 20px;
        line-height: 1.2;

    }
}

.gallery-weekly__all-info{
    display: flex;
        align-items: baseline;
    
        padding: 12px 12px 0px 12px;
        position: absolute;
        bottom: 12px;
    
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
    
        z-index: 2;
    
        width: 280px;
    
        @include respond-min('tablets') {
            width: 224px;
        }
    
        @include respond-min('pc') {
            width: 395px;
        }
}

.hover-cursor {
    cursor: url('/src/images/header/logo_mob_1x.png'), auto;
}

