<section class="header">
    <div class="container">
        <div class="header_box">
        <div class="header_res">
          <a href="./index.html" class="header_logo-box">
            <div class="logo">
                <picture>
                    <source srcset="
                    ./images/header/logo_tab_1x.png 1x,
                    ./images/header/logo_tab_2x.png 2x
                      " media="(min-width: 768px)" />
                    <source srcset="
                        ./images/header/logo_mob_1x.png 1x,
                        ./images/header/logo_mob_2x.png 2x
                      " media="(max-width: 767.33px)" />
                    <img src="./images/header/logo_tab_1x.png" alt="Фільм" />
                  </picture>
              </div>
              <span class="logo_text">Cinemania</span>
            </a>
          <span class="menu" id="menu">MENU</span>
          <ul class="nav" id="nav-header">
            <li><a class="nav_list" href="./index.html">HOME</a></li>
            <li><a class="nav_list" href="./catalog.html">CATALOG</a></li>
            <li><a class="nav_list" href="./library.html">MY LIBRARY</a></li>
          </ul>
        </div>
              <div class="theme" id="themeBtn" data-theme="false">
                <svg class="theme-moon" id="themeMoon">
                  <use href="./images/svg/sprite.svg#icon-moon-mb"></use>
                </svg>
                <img src="./images/header/elipse.png" alt="" class="theme-elipse" id="themeElipse">
                <svg class="theme-sun" id="themeSun">
                  <use href="./images/svg/sprite.svg#icon-sunshine"></use>
                </svg>
              </div>
        </div>
    </div>
</section>
<div class="mobile is-hidden" id="mobile">
    <div class="blind blind-hidden" id="blind">
      <div class="logo">
        <picture>
            <source srcset="
                ./images/header/logo_mob_1x.png 1x,
                ./images/header/logo_mob_2x.png 2x
              " media="(max-width: 767.33px)" />
            <img src="./images/header/logo_tab_1x.png" alt="Фільм" />
          </picture>
      </div>
      <ul class="nav-mob" id="nav-mob">
       <li><a class="nav_list-mob" href="./index.html">HOME</a></li>
       <li><a class="nav_list-mob" href="./catalog.html">CATALOG</a></li>
       <li><a class="nav_list-mob" href="./library.html">MY LIBRARY</a></li>
      </ul>
    </div>
</div>