<header class="header">
  <div class="container header__section">
    <nav class="site-nav">
      <a href="./index.html" class="header__logo">
        <svg class="header__icon" width="24" height="24">
          <use href="/src/images/icon.png"></use>
        </svg>
        <span class="header__logo-text">Cinemania</span>
      </a>
      <ul class="header__list">
        <li class="header__list-item">
          <a
            href="./index.html"
            class="header__list-link header__list-link--accent"
            >HOME</a
          >
        </li>
        <li class="header__list-item">
          <a
            href="./catalog.html"
            class="header__list-link"
            id="header-myCatalog"
          >
            CATALOG
          </a>
        </li>
        <li class="header__list-item">
          <a
            href="./library.html"
            class="header__list-link"
            id="header-myLibrary"
          >
            MY LIBRARY
          </a>
        </li>
        
      </ul>
    </nav>

    
  </div>
  
</header>