<section class="hero" id="hero">
    <div class="container">
        <div class="hero_img-box">
            <div class="hero_box"></div>
            <div class="hero_box1" id="hero_box1"></div>
            <div  style="background-color: #0E0E0E;" class="hero_box2" id="hero_box2"></div>
        </div>
            <div class="hero_title-box">
                <h2 class="hero_first-title">
                    Let’s Make Your Own Cinema
                </h2>
            </div>
            <div class="hero_page-box">
                <p>Is a guide to creating a personalized movie theater experience. You'll need a projector, screen, and speakers. </p>
            </div>
            <div class="hero_page-box2">
                <p>Is a guide to creating a personalized movie theater experience. You'll need a projector, screen, and speakers. Decorate your space, choose your films, and stock up on snacks for the full experience.</p>
            </div>
            <a class="hero_btn-link href="./catalog.html">Get Started</a>
           <!--<button type="button" class="hero_btn"><a href="./catalog.html" class="hero_btn-link">Get Started</a></button>--> 
    </div>
</section>