<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
       <button class="team__modal--close close-modal-team">
         <svg class="team__icon team__icon--close" width="25" height="25">
           <use href="/src/images/modal-icon.svg#modal-close"></use>
         </svg>
       </button>
       <h1 class="team__title">Just do IT</h1>
       <div class="team__box">

          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/foto.jpg"
              alt="Team Lead"/>
             </div>
            <a class="team__link"
            href="https://github.com/zendr"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/modal-icon.svg#github"></use>
            </svg>
            </a>
            <p class="team__name">Oleksandr Cherenko</p>
            <p class="team__role">Team Lead</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/foto.jpg"
              alt="Scrum Master"/>
             </div>
            <a class="team__link"
            href="https://github.com/EvgNec"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/modal-icon.svg#github"></use>
            </svg>
            </a>
            <p class="team__name">Evgen Nechaev</p>
            <p class="team__role">Scrum Master</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/foto.jpg"
              alt="Mariia Huziuk"/>
             </div>
            <a class="team__link"
            href="https://github.com/maryhuziuk"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/modal-icon.svg#github"></use>
            </svg>
            </a>
            <p class="team__name">Mariia Huziuk</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/foto.jpg"
              alt="Artem Shapoval"/>
             </div>
            <a class="team__link"
            href="https://github.com/TyomaShapoval"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/modal-icon.svg#github"></use>
            </svg>
            </a>
            <p class="team__name">Artem Shapoval</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/foto.jpg"
              alt="Uliana Grynyshyn"/>
             </div>
            <a class="team__link"
            href="https://github.com/Uliana2022ua"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/modal-icon.svg#github"></use>
            </svg>
            </a>
            <p class="team__name">Uliana Hrynyshyn</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/foto.jpg"
              alt="Karina Tkachenko"/>
             </div>
            <a class="team__link"
            href="https://github.com/Karina-98"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/modal-icon.svg#github"></use>
            </svg>
            </a>
            <p class="team__name">Karina Tkachenko</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/foto.jpg"
              alt="Pavlo Ponomarenko"/>
             </div>
            <a class="team__link"
            href="https://github.com/PaulPonomarenko"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/modal-icon.svg#github"></use>
            </svg>
            </a>
            <p class="team__name">Pavlo Ponomarenko</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/foto.jpg"
              alt="Viktor Yakymenko"/>
             </div>
            <a class="team__link"
            href="https://github.com/chell-iz-naroda"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/modal-icon.svg#github"></use>
            </svg>
            </a>
            <p class="team__name">Viktor Yakymenko</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/foto.jpg"
              alt="Oleksandr Piniugin"/>
             </div>
            <a class="team__link"
            href="https://github.com/Piniuhin"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/modal-icon.svg#github"></use>
            </svg>
            </a>
            <p class="team__name">Oleksandr Piniugin</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/foto.jpg"
              alt="Maksym Karpiuk"/>
             </div>
            <a class="team__link"
            href="https://github.com/Konoplya156"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/modal-icon.svg#github"></use>
            </svg>
            </a>
            <p class="team__name">Maksym Karpiuk</p>
            <p class="team__role">Developer</p>
          </div>   
        </div>

