<div class="slider-container container">
    <div class="swiper-container">
        <div class="swiper-wrapper"> 
            <div class="swiper-slide "></div>
        </div>
        <div class="slider-button">
            <button class="slider-btn-left slider-btn">
                <img class="slider-btn-image" src="/src/images/header/btn-left.jpg" alt="">
            </button>
            <div class="slider-btn-number">
                <button class="btn-nav-number">01</button>
                <button class="btn-nav-number">02</button>
                <button class="btn-nav-number">03</button>
                <button class="btn-nav-number">04</button> 
                <button class="btn-nav-number">05</button>
            </div>
            <button class="slider-btn-rigth slider-btn">
                <img class="slider-btn-image" src="/src/images/header/btn-rigth.jpg" alt="">
            </button>
        </div> 
    </div>   
</div> 
 